.containerAllBooks {
    border-top: 4px solid rgba(128, 128, 128, 0.068);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 6% 4% 6% 6%;
    transition: 0.3s;
}

.containerAllBooks.bgBn {
    box-shadow: inset 0px 5px 25px -5px rgba(0, 0, 0, 0.75);
}

.containerAllBooks.mHeight {
    min-height: 4000px;
}

/* XXXXXXXXXXXXXXXXXXXX */

.cadreAllBooks {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 22px;
}

/* XXXXXXXXXXXXXXXXXXXX */

.containerCategory {
    height: 100%;
    width: 260px;
}

.searchCategory {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.inputSearchCat {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: var(--blanc-casse);
    padding: 0px 10px;
    outline: none;
    font-size: 18px;
}

.inputSearchCat.inputSearchCatB {
    background-color: var(--vert);
    color: var(--blanc-casse);
}

.inputSearchCatB::placeholder {
    color: var(--blanc-casse) !important;
}

.inputSearchCatB:focus-within {
    border: 2px solid var(--vert-clair) !important;
}

.inputSearchCatB:not(:focus-within):hover {
    border: 2px solid var(--gris-clair) !important;
}

.inputSearchCat:not(:focus-within):hover {
    border: 2px solid #5960662d;
    padding: 0px 8px;
}

.inputSearchCat:focus-within {
    border: 2px solid var(--noir);
    padding: 0px 8px;
}

input::selection {
    background-color: var(--vert);
    color: var(--blanc-froid);
}

.titreCat {
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.categories {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 23px;
    margin: 12px 0px;
    border-top: 1px solid var(--blanc-froid);
    border-bottom: 1px solid var(--blanc-froid);
    cursor: pointer;
    transition: 0.3s ease-out;
}

.categories:hover,
.categories.selected {
    color: var(--vert);
    border-top: 1px solid var(--blanc-froid);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.212);
}

.categoriesB {
    color: var(--vert-clair);
    border-top: 1px solid #304b5a;
    border-bottom: 1px solid #304b5a;
}

.categoriesB:hover,
.categoriesB.selected {
    color: var(--blanc-casse);
    border-top: 1px solid #304b5a;
    border-bottom: 1px dotted var(--vert-commu);
}

.authorList {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: var(--blanc-casse);
}

.selectionAuteur {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px 5px 0px 15px;
    left: 0;
    cursor: pointer;
    transition: 0.3s ease-out;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.authorList.authorListB {
    background-color: var(--vert-fonce);
    color: var(--blanc-casse);
}

.selectionAuteur:not(:focus-within):hover {
    border: 2px solid #5960662d;
}

.selectionAuteur:focus-within {
    border: 2px solid var(--noir);
}

.containerListeAuteursA {
    background-color: var(--blanc-froid);
    width: 250px;
    height: fit-content;
    position: absolute;
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.14);
    display: flex;
    z-index: 1;
    top: 51px;
    align-items: center;
    justify-content: left;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.324);
    border-left: 1px dotted rgba(0, 0, 0, 0.324);
    border-right: 1px dotted rgba(0, 0, 0, 0.324);
}

.hidden {
    display: none;
}

.containerListeAuteursB {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auteursSkin {
    width: 100%;
    height: 27px;
    padding: 2px 10px 0px 10px;
}

.auteursSkin:hover {
    color: var(--blanc-froid);
    background-color: var(--vert);
    cursor: pointer;
}

/* .fourchettePrix {
    color: var(--gris);
    margin: 12px 0px;
}

.containerBarreFourchette {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barreBouleFourch {
    width: 100%;
    height: 17px;
    display: flex;
    align-items: center;
    position: relative;
} */

/* .barreFourch {
    width: 100%;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.1);
    position: absolute;
}

.bouleFourch {
    height: 17px;
    width: 17px;
    border-radius: 40px;
    background-color: var(--vert);
    position: absolute;
    cursor: pointer;
} */

/* XXXXXXXXXXXXXXXXXXXX */

.containerWidgetCards {
    width: 35px;
    height: 110px;
    position: absolute;
    z-index: 2;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.4s ease-out;
}

.btnDynamique {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    color: var(--blanc-froid);
    background-color: var(--vert);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-out;
    cursor: pointer;
}

.btnDynamique:hover {
    background-color: var(--noir);
}

.widgetPanier {
    position: relative;
    opacity: 100;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.widgetFullScreen {
    opacity: 100;
    position: relative;
    transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
    opacity: 0;
}

.cards:hover .containerWidgetCards,
.cards2:hover .containerWidgetCards,
.containerWidgetCards:hover {
    transform: translateX(-20px);
}

.cards:hover .widgetPanier,
.cards2:hover .widgetPanier,
.widgetPanier:hover {
    opacity: 100;
}

.cards:hover .widgetFullScreen,
.cards2:hover .widgetFullScreen,
.widgetFullScreen:hover {
    opacity: 100;
}



/* XXXXXXXXXXXXXXXXXXXX */

.containerContainerBooksByCat {
    width: 900px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* XXXXXXXXXXXXXXXXXXXXX */

.containerMiseEnPage {
    margin-right: 32px;
    width: 97%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.miseEnpage {
    height: fit-content;
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.cadreMeP {
    border: 1px solid var(--gris-clair);
    height: 25px;
    border-radius: 3px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    transition: 0.1s ease-in-out;
}

.cadreMeP.cadreMePV {
    border: 1.5px solid var(--vert);
}

.logoMEP.logoMEPV {
    color: var(--vert)
}

.logoMEP {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: inherit;
    color: var(--noir);
    transition: 0.1s ease-in-out;
}

.containerAvailable {
    height: fit-content;
    width: fit-content;
    display: flex;
    color: var(--noir);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.containerFiltreMiseEnPage {
    height: 30px;
    width: 145px;
    border-radius: 5px;
}

/* XXXXXXXXXXXXXXXXXXXXX */

.containerBooksByCat {
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.containerBooksByCat2 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.cards {
    width: 262px;
    height: 460px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.14);
    position: relative;
    margin-right: 26px;
    margin-bottom: 23px;
    transition: 0.3s ease-out;
    overflow: hidden;
}

.cardsHorizontale {
    width: 100%;
    height: 225px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.14);
    position: relative;
    margin-right: 26px;
    margin-bottom: 23px;
    transition: 0.3s ease-out;
    overflow: hidden;
    padding: 20px;
    display: flex;
}

.cards.cardsB {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.30);
}

.cardsHorizontale.cardsB {
    background-color: #253946;
    border: 1px solid transparent;
    border: 2px solid var(--vert);
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.34);
}

.containerCadreImgCards {
    width: 100%;
    height: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.containerCadreImgCards2Cont{
    width: 38%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    border-radius: inherit;
    border: 1px solid varI(--noir);
}

.containerCadreImgCards2 {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;

}


.bgDual {
    position: absolute;
    height: 500px;
    width: 500px;
    display: flex;
    left: -70px;
    top: -60px;
    rotate: -25deg;
    overflow: hidden;
}

.beige {
    height: 100%;
    width: 50%;
    background-color: #f6ebe7;
}

.gris {
    height: 100%;
    width: 50%;
    background-color: #b5b4bc;
}

.cadreImgCards {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-radius: inherit;
    rotate: -25deg;
    filter: saturate(110%) contrast(120%);
}

.cadreImgCardsHorizontal {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 150%;
    background-position: center;
    background-size: 100%;
    left: 80px;
    background-repeat: no-repeat;
    border-radius: inherit;
    rotate: -25deg;
    filter: saturate(110%) contrast(120%);
}

.ombreLivre {
    position: absolute;
    width: 160px;
    height: 230px;
    top: 45px;
    left: 50px;
    rotate: -25deg;
    background-color: #b5b4bc;
}

.containerInfoBooksA {
    position: relative;
    width: 100%;
    height: 160px;
    background-color: var(--blanc-froid);
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transition: 0.3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.containerInfoBooksAHorizontal {
    position: relative;
    width: 62%;
    padding-left: 15px;
    height: 160px;
    background-color: var(--blanc-froid);
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transition: 0.3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.containerInfoBooksA.containerInfoBooksAB {
    background-color: var(--vert-fonce);
}

.containerInfoBooksAHorizontal.containerInfoBooksAB {
    background-color: #253946;
}

.cards:hover .containerInfoBooksA,
.cards2:hover .containerInfoBooksA,
.containerInfoBooksA:hover {
    transform: translateY(-70px);
    z-index: 2;
}

.cards:hover .containeraBtnAdd,
.cards2:hover .containeraBtnAdd,
.containerInfoBooksA:hover .containeraBtnAdd {
    opacity: 100;
    z-index: 2;
}

.containerInfoBooks {
    position: relative;
    height: 100%;
}

.containertitreLivre {
    width: 100%;
    height: 60px;
    line-height: 23px;
    padding: 10px 15px 0px 15px;
}

.containertitreLivreHorizontal {
    width: 100%;
    height: fit-content;
    padding: 0px 15px 0px 15px;
    margin-bottom: 2px;
}

.titreLivre {
    font-size: 19px;
    font-weight: bold;
    color: var(--noir);
    transition: 0.3s ease-out;
}

.titreLivre.titreLivreB {
    color: var(--blanc-casse);
}

.containerAuteurLivre {
    width: 100%;
    height: 30px;
}

.auteurLivre {
    color: var(--gris);
    font-size: 16px;
    padding: 0px 15px 0px 15px;
    transition: 0.3s ease-out;
    transition-delay: 0.1s;
}

.auteurLivre.vc {
    color: var(--vert-clair);
}

.spanAuteur {
    font-size: 16px;
    color: var(--noir);
    font-weight: 500;
    transition: 0.3s ease-out;
    transition-delay: 0.2s;
}

.spanAuteur.bc {
    color: var(--blanc-casse);
}

.containeraBtnAdd {
    width: 100%;
    height: 80px;
    z-index: 0;
    position: absolute;
    background-color: var(--blanc-froid);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 15px 15px;
    opacity: 0;
    transition: 0.3s ease-out;
    display: flex;
    align-items: bottom;
}

.containeraBtnAddHorizontal {
    width: 205px;
    height: 80px;
    background-color: var(--blanc-froid);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px 0px 16px 15px;
    opacity: 100;
    transition: 0.1s;
    display: flex;
    align-items: bottom;
}

.containeraBtnAdd.containeraBtnAddB {
    background-color: var(--vert-fonce);
}

.containeraBtnAddHorizontal.containeraBtnAddB {
    background-color: #253946;
    border: 1px solid transparent;
    padding: 7px 0px 19px 15px;
}

.btnAdd {
    background-color: var(--vert);
    overflow: hidden;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    color: var(--blanc-froid);
    position: relative;
    transition: 0.3s ease-in-out;
}

.btnAdd.btnAddB {
    border: 1px solid var(--vert-clair);
}

.containerAjoutPanierA {
    width: 100%;
    height: 80%;
}

.containerAjoutPanier {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.containerCompteur {
    height: 100%;
    width: 120px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerMoinsDelete {
    height: 100%;
    width: 33.3%;
    border-radius: 5px 0px 0px 5px;
}

.compteur {
    height: 100%;
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanc-froid);
    background-color: var(--noir);
}

.moins {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--noir);
    color: var(--blanc-froid);
    font-size: 23px;
    padding-top: 4px;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.testA {
    width: 100%;
    height: 100%;
    color: white;
}

.testB {
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--noir);
    transition: 0.3s ease-out;
}

.testB:hover {
    background-color: var(--vert);
}

.trashBtn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanc-froid);
    font-size: 23px;
    padding-top: 4px;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.trash {
    font-size: 20px;
    padding-bottom: 4px;
}

.plus {
    height: 100%;
    background-color: var(--noir);
    color: var(--blanc-froid);
    width: 33.3%;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    font-size: 19px;
    padding-top: 2px;
    justify-content: center;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.moins:hover,
.plus:hover {
    background-color: var(--vert);
}

.totalLivre {
    color: var(--gris);
}

.containerNTM {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    z-index: 2;
}

.animationBtn {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 400px;
    background-color: var(--noir);
    left: -410px;
    top: -100px;
    rotate: -30deg;
    transition: 0.5s ease-out;
}

.btnAdd:hover .animationBtn {
    left: 0;
    rotate: 0deg;
}

/* XXXXXXXXXXXXXXXXXX */

.dropdownMeP {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.menuMeP {
    background-color: var(--blanc-casse);
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.242);
    transition: 0.3s;
}

.menuMeP.bgV,
.containerListeAuteursA.bgV {
    background-color: var(--vert);
    color: var(--blanc-casse);
}

.dropdown-menuMeP {
    position: absolute;
    top: 105%;
    left: 0;
    background-color: var(--blanc-casse);
    border: 1px solid #ccc;
    z-index: 2;
    width: 145px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.242);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
    transition: 0.3s ease-out;
}

.dropdown-menuMeP.bgVc {
    background-color: var(--vert);
    border: 1px solid var(--vert-clair);
}

.alpHover {
    color: var(--noir);
    height: 30px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
}

.alpHover:hover {
    background-color: var(--vert);
    color: var(--blanc-froid);
}


.dropdown-menuMeP div {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu div:hover {
    background-color: #f1f1f1;
}


/* XXXXXXXXXXXX */

.bgBf {
    background-color: var(--blanc-froid);
    transition: 0.3s ease-out;
}

.bgBf.bgBn {
    background-color: #304b5a;
}

.containerInfoBooks.containerInfoBooksB {
    background-color: var(--vert-fonce);
}

.containerInfoBooksHorizontal.containerInfoBooksB {
    background-color: #253946;
}

.totalLivre.vertCommu {
    color: var(--vert-commu);
}

.containerAvailable.colorVc {
    color: var(--vert-clair);
}

.titreCat.colorBf {
    color: var(--blanc-froid);
}

.logoMEP.colorBc,
.alpHover.colorBc {
    color: var(--blanc-casse);
}

.borderBc {
    border: 1px solid var(--blanc-casse);
}


.alpHover:hover.colorBc,
.auteursSkin:hover.colorBc {
    background-color: var(--noir);
}



@keyframes square-animation {
    0% {
        left: 0;
        top: 0;
    }

    10.5% {
        left: 0;
        top: 0;
    }

    12.5% {
        left: 32px;
        top: 0;
    }

    23% {
        left: 32px;
        top: 0;
    }

    25% {
        left: 64px;
        top: 0;
    }

    35.5% {
        left: 64px;
        top: 0;
    }

    37.5% {
        left: 64px;
        top: 32px;
    }

    48% {
        left: 64px;
        top: 32px;
    }

    50% {
        left: 32px;
        top: 32px;
    }

    60.5% {
        left: 32px;
        top: 32px;
    }

    62.5% {
        left: 32px;
        top: 64px;
    }

    73% {
        left: 32px;
        top: 64px;
    }

    75% {
        left: 0;
        top: 64px;
    }

    85.5% {
        left: 0;
        top: 64px;
    }

    87.5% {
        left: 0;
        top: 32px;
    }

    98% {
        left: 0;
        top: 32px;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.containerLoader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
}

.loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: var(--vert);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
    animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
    animation-delay: -10s;
}
