.containerCarousel {
  height: 760px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blanc-casse);
  transition: 0.4s ease-out;
  position: relative;
}

.containerCarousel.containerCarouselB {
  background-color: var(--footer);
  -webkit-box-shadow: 0px 5px 80px 10px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0px 5px 80px 10px rgba(0, 0, 0, 0.40);
   box-shadow: 0px 5px 80px 10px rgba(0, 0, 0, 0.40);
}

#default-carousel {
  height: 550px;
  width: 1123px;
  background-color: var(--blanc-casse);
  border: none;
  transition: 0.4s ease-out;
}

#default-carousel.defB {
  background-color: var(--footer);
}

.cadre {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* XXXXXXXXXXXXXXXXXXXXXX */

.containerCarouselPart {
  height: 100%;
  width: 100%;
  display: flex;
}

/* XXXXXXXXXXXXXXXXXXXXXX */

.carouselPartL1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* position: relative; */
}

.investment {
  font-size: 16px;
  font-weight: 600;
  color: var(--vert);
  margin-bottom: 5px;
  transition: 0.3s ease-out;
}

.investment.investmentB {
  color: var(--vert-clair);
}

.loyal {
  font-size: 55px;
  font-weight: bold;
  color: var(--noir);
  line-height: 70px;
  margin-bottom: 30px;
  transition: 0.3s ease-in-out;
}

.loyal.loyalB {
  color: var(--blanc-casse);
}

.lorem {
  color: rgba(97, 97, 97, 0.858);
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 50px;
  transition: 0.3s;
}

.lorem.lorem {
  color: var(--gris-clair);
}

.btnAddCar {
  overflow: hidden;
  border-radius: 3px;
  color: var(--blanc-froid);
  position: relative;
  background-color: var(--vert);
  width: 140px;
  height: 50px;
}

.containerNTMCar {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  z-index: 2;
  border: 2px solid var(--vert);
}

.animationBtnCar {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 400px;
  background-color: var(--noir);
  left: -295px;
  top: -100px;
  rotate: -30deg;
  transition: 0.3s ease-out;
}

.btnAddCar:hover .animationBtnCar {
  left: -150px;
  rotate: 0deg;
}

/* XXXXXXXXXXXXXXXXXXXXXX */
.carouselPartRB {
  height: 92%;
  width: 50%;
  position: relative;
}

.carouselPartRA {
  height: 100%;
  width: 50%;
  position: relative;
}

.containerImgCarousel1 {
  height: 100%;
  width: 100%;
  background-image: url("../img/hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.containerImgCarousel2Radius {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImgCarousel2 {
  background-image: url("../img/hero4.png");
  height: 100%;
  width: 64%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
  overflow: hidden;
}

.containerImgCarousel3 {
  height: 100%;
  width: 100%;
  background-image: url("../img/hero2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.containerImgCarousel4Radius {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImgCarousel4 {
  background-image: url("../img/hero3.png");
  height: 100%;
  width: 64%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
  overflow: hidden;
}

.texture {
  position: absolute;
  z-index: 0;
  right: 0;
  height: 100%;
  width: 300px;
  border: 3px dotted var(--vert);
  top: 40px;
  right: 55px;
  border-radius: 10px;
  transition: 0.3s ease-out;
}

.texture.textureB {
  border: 3px dotted vart(--vert-clair);
}

/* XXXXXXXXXXXXXXXXXXX */
.btnCarouselNext {
  width: 45px;
  height: 45px;
  right: 0;
  top: 20%;
  border-radius: 50px;
  transition: 0.3s ease-out;
}

.btnCarouselPrevious {
  width: 45px;
  height: 45px;
  left: 0;
  top: 20%;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.btnTest {
  background-color: var(--vert);
  width: 40px;
  height: 40px;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.btnTest:hover {
  background-color: var(--noir);
}

.containerCarousel:hover .btnTest {
  opacity: 100;
}

.containerCarousel:hover .btnCarouselNext {
  right: -60px;
}

.containerCarousel:hover .btnCarouselPrevious {
  left: -60px;
}

/* XXXXXXXXXXXXXXXXXX */

.containerPerles {
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 1;
  top: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  transition: 0.3s ease-in-out;
}

.perle{
  height: 10px;
  width: 10px;
  background-color: #a9c5bb6c;
  color: transparent;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.perleActive{
  width: 30px !important;
  background-color: var(--vert);
}

.perleActive.perleActiveB{
  background-color: var(--vert-clair);
}