@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blanc-froid: #fefefe;
  --blanc-casse: #f5f7f9;
  --gris: #596066;
  --gris-modal: #585a5e;
  --vert-clair: #a1ccbc;
  --vert-commu: #d1e7dd;
  --vert: #5a8f7b;
  --vert-fonce: #3a5e5d;
  --footer: #2f4858;
  --noir: #243743e3;
  --rose: #d252cf;
}

.philo{
  font-family: 'Philosopher', sans-serif;
}

.pop{
  font-family: 'Poppins', sans-serif;
}

#default-carousel{
  background-color: black;
  border: 1px solid black;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

p::selection {
  background-color: var(--vert);
  color: var(--blanc-froid);
}

a {
  color: inherit;
  text-decoration: none;
}

a::selection {
  background-color: var(--vert);
  color: var(--blanc-froid);
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #596066;
  border: 2px solid #fefefe;
  border-radius: 55px;
}

