.containerPopular{
    width: 100%;
    height: fit-content;
    padding: 6% 6%;
    background-color: var(--blanc-casse);
    border: 1px solid black;
}

/* XXXXXXXXXXXXXXXXXX */

.popularUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid green;
}

.booksGallery{
    color: var(--vert);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 3px;
}

.popuplarBooks{
    font-size: 40px;
    font-weight: bold;
    color: var(--noir);
    transition: 1.1s ease-out;
}

.containerPopular:hover .popuplarBooks{
    letter-spacing: 3px;
}

.ligneBizarre{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carreA{
    height: 18px;
    width: 18px;
    background-color: var(--vert);
    opacity: 20%;
    position: absolute;
    left: -5px;
    transform: rotate(45deg);
    transition: 1s ease-in-out;
}

.carreB{
    height: 18px;
    width: 18px;
    background-color: var(--vert);
    opacity: 20%;
    position: absolute;
    left: -15px;
    transform: rotate(45deg);
    transition: 1s ease-in-out;
}

.containerPopular:hover .carreA{
    transform: rotate(-1500deg) scale(2) skew(0.06turn, -18deg);
    left: -100px;
    height: 24px;
}

.containerPopular:hover .carreA{
    transform: rotate(1500deg) scale(2) skew(-0.06turn, 18deg);
    left: 82px;
    height: 24px;
    border-bottom: 1px solid var(--vert-clair);
    border-right: 2px solid var(--vert);
    opacity: 50%;
}

.containerPopular:hover .carreB{
    transform: rotate(1500deg) scale(2) skew(-0.06turn, 18deg);
    left: 82px;
    height: 24px;
    border-bottom: 1px solid var(--vert-clair);
    border-right: 2px solid var(--vert-clair);
    opacity: 85%;
}

.ligneVerte{
    position: absolute;
    height: 1.3px;
    width: 200px;
    opacity: 50%;
    background-color: var(--vert);
    z-index: 0;
    transition: 1s ease-in-out;
}

.containerPopular:hover .ligneVerte{
    width: 170px;
}

/* XXXXXXXXXXXXXXXXXX */

.containerRandomBooks{
    border: 1px solid black;
}

/* XXXXXXXXXXXXXXXXXX */

.containerEvolution{
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: var(--vert);
    width: 150px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnTest{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanc-froid);
    font-size: 18px;
    cursor: pointer;
}

.btnTest::selection{
    background-color: var(--vert);
}